.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  &__logo {
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    @media screen and (min-width: 320px) {
      font-size: 3rem;
    }
  }
  &__menu {
    display: none;
    position: absolute;
    top: 5rem;
    left: 0;
    background-color: #3c3c3c;
    width: 100%;
    @media screen and (min-width: 768px) {
      display: flex;
      position: relative;
      top: 0;
      right: 0;
      background-color: transparent;
    }
    ul {
      display: flex;
      list-style-type: none;
      flex-direction: column;
      gap: 2.7rem;
      @media screen and (min-width: 768px) {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
      }
      li {
        color: #fff;
        font-family: 'Rubik', sans-serif;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        opacity: 0.5;
        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
    &--button {
      background-color: none;
      color: #fff;
      border: none;
      outline: none;
      display: inline-flex;
      padding: 0.9375rem 2.25rem 0.9375rem 2.1875rem;
      justify-content: center;
      align-items: center;
      border-radius: 1.875rem;
      border: 2px solid rgba(255, 255, 255, 0.3);
      background: rgba(3, 3, 4, 0.5);
    }
  }
  &__bars {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    position: relative;
    @media screen and (min-width: 768px) {
      display: none;
    }
    &--bar {
      width: 2rem;
      height: 0.3rem;
      background-color: #fff;
      border-radius: 1rem;
    }
  }
}
.showMenu {
  display: flex;
}
