.works {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  &__header {
    border-bottom: 0.0625rem solid #949494;
    display: flex;
    flex-direction: column;
    padding: 0 8rem 2rem 8rem;
  }
  &__heading {
    color: #fff;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &__caption {
    color: #949494;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  &__list {
    padding: 2rem 0;
  }
}
