.footer {
  display: flex;
  flex-direction: column;
  background-color: #131313;
  max-width: 92.6875rem;
  max-height: 30rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  &__email {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    &--heading {
      font-size: 1.5rem;
      color: #ff9142;
      text-align: center;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    &--text {
      color: #fff;
      text-align: center;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration-line: underline;
      @media screen and (min-width: 1024px) {
        font-size: 3rem;
      }
      @media screen and (min-width: 1220px) {
        font-size: 4rem;
      }
    }
  }
  &__links {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
}
